<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div class="create-user">
    <div class="top-bar">
        <a href="userlist.html"><i class="icon icon-save"></i></a>
        <h1>Add new contact</h1>
    </div>
    <div class="create-form">
        <input type="text" placeholder="Name"/>
        <input type="text" placeholder="Phone"/>
        <input type="text" placeholder="Email"/>
        <div class="photo">
            <input type="text" placeholder="Photo"/>
            <div class="photo-thump">
                <img src="assets/image.png" alt=""/>
            </div>
        </div>
    </div>
</div>

</body>
</html>