<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div class="user-details">
    <div class="user-photo" style="background-image: url('assets/image.png')">
        <div class="top-bar">
            <a href="userlist.html"><i class="icon-back"></i></a>
            <a href="create-user.html"><i class="icon-edit"></i></a>
        </div>
        <h1>John Lindquist</h1>
    </div>
    <div class="details">
        <div class="personal"><i class="icon icon-phone"></i> <span>+3809646674</span><hr/></div>
        <div class="personal"><i class="icon icon-mail"></i> <span>john@mail.com</span><hr></div>
    </div>
</div>

</body>
</html>