<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>contact list</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div class="users-list">
    <div class="add-user">
        <a href="create-user.html"><i class="more-one"></i></a>
    </div>
    <div class="top-bar">
        <h1>Contacts</h1>
        <div class="search">
            <i></i>
        </div>
    </div>

    <div class="user">
        <a href="user-details.html">
            <div class="photo-preview">
                <img src="assets/image.png">
            </div>
            <div class="user-name">John Lindquist</div>
        </a>
    </div>
    <div class="user">
        <a href="user-details.html">
            <div class="photo-preview">
                <img src="assets/image.png">
            </div>
            <div class="user-name">John Lindquist</div>
        </a>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
    <div class="user">
        <div class="photo-preview">
            <img src="assets/image.png">
        </div>
        <div class="user-name">John Lindquist</div>
    </div>
</div>

</body>
</html>